<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product List</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div th:replace="~{fragments/sidebar.html}"></div>
<div class="container mt-3">
    <div th:if="${errorMessage}" class="alert alert-danger">
        <p th:text="${errorMessage}"></p>
    </div>

    <div th:if="${successMessage}" class="alert alert-success">
        <p th:text="${successMessage}"></p>
    </div>

    <h4>Product Acquisitions </h4>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Code</th>
            <th scope="col">Acquisition date</th>
            <th scope="col">Itens</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${productAcquisitionList.totalPages != 0}" th:each="prod : ${productAcquisitionList}">
            <td th:text="${prod.id}"></td>
            <td th:text="${#dates.format(prod.aquisitionDate, 'dd/MM/yyyy')}"></td>
            <td>
                <div th:each="item : ${prod.itens}" th:text="${item.quantity + ' - ' + item.product.name + ' - ' + item.product.brand.name + ' - ' + item.product.type.description}"></div>
            </td>
            <td class="row">
                <div class="col-3">
                    <a th:href="@{'/product-acquisition/delete/' + ${prod.id}}">Delete</a>
                </div>
            </td>
        </tr>
        <tr th:if="${productAcquisitionList.totalPages == 0}">
            <td colspan="6">No product acquisitions registered</td>
        </tr>
        </tbody>
    </table>

    <div th:if="${productAcquisitionList.totalPages > 0}" class="d-flex pagination" style="justify-content: end;">
        <a th:each="pageNumber : ${pageNumbers}"
           th:href="@{/product-acquisition/list(size=${productAcquisitionList.size}, page=${pageNumber})}"
           th:text="${pageNumber}"
           th:class="${pageNumber == productAcquisitionList.number + 1} ? 'active' : ''"
           th:classappend="${pageNumber == currentPage ? 'font-weight-bold' : ''}"
           style="padding: 5px"></a>
    </div>

</div>

<script th:src="@{/vendor/js/jquery-3.6.0.min.js}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
<script th:src="@{/js/sidebar.js}"></script>

</body>
</html>
