<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product List</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div th:replace="~{fragments/sidebar.html}"></div>
<div class="container mt-3">

    <div th:if="${errorMessage}" class="alert alert-danger">
    <p th:text="${errorMessage}"></p>
</div>

    <div th:if="${successMessage}" class="alert alert-success">
        <p th:text="${successMessage}"></p>
    </div>

    <div th:replace="~{fragments/modal-product-consume :: modal-product-consume}"></div>
    <div th:replace="~{fragments/modal-product-consume-request :: modal-product-consume-request}"></div>

    <h4> Products </h4>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Code</th>
            <th scope="col">Name</th>
            <th scope="col">Brand</th>
            <th scope="col">Type</th>
            <th scope="col">Description</th>
            <th scope="col">Quantity in stock</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${productList.totalPages != 0}" th:each="prod : ${productList}">
            <td th:text="${prod.id}"></td>
            <td th:text="${prod.name}"></td>
            <td th:text="${prod.brand.name}"></td>
            <td th:if="${prod.productType != null}" th:text="${prod.productType.description}"></td>
            <td th:text="${prod.description}"></td>
            <td th:text="${prod.stockQuantity == null ? '0' : prod.stockQuantity}"></td>
            <td class="row">
                <div class="col-3">
                    <a sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_MANAGER')" th:href="@{'/product/delete/' + ${prod.id}}">Delete</a>
                    <a th:if="${prod.freeToConsume}" href="#" data-toggle="modal" data-target="#productConsumeModal" th:data-product-id="${prod.id}">Consume</a>
                    <a th:unless="${prod.freeToConsume}" href="#" data-toggle="modal" data-target="#productConsumeRequestModal" th:data-product-id="${prod.id}">Request to consume</a>
                </div>
            </td>
        </tr>
        <tr th:if="${productList.totalPages == 0}">
            <td colspan="6">No products registered</td>
        </tr>
        </tbody>
    </table>

    <div th:if="${productList.totalPages > 0}" class="d-flex pagination" style="justify-content: end;">
        <a th:each="pageNumber : ${pageNumbers}"
           th:href="@{/product/list(size=${productList.size}, page=${pageNumber})}"
           th:text="${pageNumber}"
           th:class="${pageNumber == productList.number + 1} ? 'active' : ''"
           th:classappend="${pageNumber == currentPage ? 'font-weight-bold' : ''}"
           style="padding: 5px"></a>
    </div>

</div>

<script th:src="@{/vendor/js/jquery-3.6.0.min.js}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
<script th:src="@{/js/sidebar.js}"></script>
<script th:src="@{/js/consume-product.js}"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

</body>
</html>
